<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-6" routerLink="">Welcome to {{ title }}!</h1>
      <!-- <p class="lead">Click on the button to view the course grid</p> -->
      <!-- <button routerLink="course" class="btn btn-primary">
          Course Grid
      </button> -->
    </div>
  </div>
<!-- 
  <a routerLink="course">
      Course Grid</a> -->
<router-outlet></router-outlet>
  <!-- <app-course-grid></app-course-grid> -->
